*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(46, 45, 45);
    color: blanchedalmond;
    
}

h1 {
    text-align: center;
}
p{
    color: white;
    width: 80%;
    margin: 0 auto;
}